<header>
    <h1>Animatronic sales</h1>
    <% if (new Date().getHours() < 12) {-%>
    Good morning
    <% } else if (new Date().getHours() < 18) {-%>
        Good Afternoon
    <% } else  {-%>
        Good Evening
        <% } %>
</header>

<link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<script defer src="/js/halloween.js"></script>
